@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #070724;
  --color-dark-gray: #38384f;
  --color-light-gray: #838391;

  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6f2ed6;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
